body{
  background-color: rgb(2, 2, 2);
}

#title{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 0rem;
  font-size: 4rem;
  font-family: 'Bungee Shade', cursive;
  color: rgb(0, 247, 255);
  box-shadow:  5px 10px 18px rgb(236, 233, 233);
  margin-left: 40rem;
  margin-right: 40rem;
}

#board {
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(34, 167, 172);
  margin: 1rem 30rem 0rem 30rem;
  padding: 5rem 2rem 1rem 2rem;
  font-family: 'Bungee Shade', cursive;
  box-shadow: 5px 10px 18px rgb(236, 233, 233);
}

.grid-item{
  border: 1px solid rgb(2, 2, 2);
  text-align: center;
  padding: 4rem;
  font-size: 5rem;
  font-family: 'Bungee Shade', cursive;
  box-shadow: 5px 10px 18px rgb(19, 18, 18);


}

#player-turn{
  position: absolute;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(0, 19, 19);
  text-shadow: 5px 10px 18px rgb(22, 22, 22);
  margin-left: 40rem;
  margin-right: 40rem;
  font-family: 'Damion', cursive;




}

.top {
  border-top: none;
}

.left-side {
  border-left: none;
}

.right-side {
  border-right: none;
}

.bottom {
  border-bottom: none;
}